@model InternalMoneyTransferCreateBindingModel

@{
    ViewData["Title"] = "Create internal money transfer";
}

<div class="mx-auto my-4 text-center w-lg-50 w-md-75">
    <h2>@ViewData["Title"]</h2>
    <form method="post">
        <hr class="w-75" />
        <div class="form-group">
            <label asp-for="AccountId"></label>
            <select class="custom-select form-control" asp-for="AccountId">
                <option disabled selected>Select source account...</option>
                @foreach (var account in Model.OwnAccounts)
                {
                    <option value="@account.Id">@account.Name - €@account.Balance.ToString("F2")</option>
                }
            </select>
            <span asp-validation-for="AccountId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DestinationBankAccountUniqueId"></label>
            <input class="form-control" asp-for="DestinationBankAccountUniqueId" id="destination" />
            <span asp-validation-for="DestinationBankAccountUniqueId" class="text-danger"></span>
            @if (Model.OwnAccounts.Count() > 1)
            {
                <select class="custom-select form-control mt-3 text-muted" id="ownAccountPicker">
                    <option disabled selected>...or choose another one of your accounts</option>
                    @foreach (var account in Model.OwnAccounts)
                    {
                        <option value="@account.UniqueId">@account.Name - €@account.Balance.ToString("F2")</option>
                    }
                </select>
            }
        </div>
        <div class="form-group">
            <label asp-for="Amount"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">€</div>
                </div>
                <input type="number" min="0.01" step="0.01" class="form-control" asp-for="Amount" />
            </div>
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">
                Description
                <span class="font-italic text-muted">(optional)</span>
            </label>
            <input class="form-control" asp-for="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Cancel</a>
            <button class="btn btn-primary" type="submit">Pay</button>
        </div>
    </form>
</div>

@section Scripts
{
    @if (Model.OwnAccounts.Count() > 1)
    {
        <script>
            $('#ownAccountPicker').change(function() {
                $('#destination').val(this.value);
            });

            $('#destination').change(function() {
                $("#ownAccountPicker")[0].selectedIndex = 0;
            });
        </script>
    }
}