@model BankAccountDetailsViewModel
@{
    var account = Model.BankAccountUniqueId;
    ViewData["Title"] = $"Money transfers {account}";
}

<div class="container">
    <h3 class="text-center mb-4">All money transfers for @account bank account</h3>
    @if (!Model.MoneyTransfers.Any())
    {
        <h5 class="text-center text-muted">No money transfers have been made yet</h5>
    }
    else
    {
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Details</th>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var moneyTransfer in Model.MoneyTransfers)
            {
                <tr>
                    <td>@moneyTransfer.Description</td>
                    <td>
                        <p>@moneyTransfer.AccountUserFullName</p>
                        <p>@moneyTransfer.Source</p>
                    </td>
                    <td>@moneyTransfer.Destination</td>
                    <td class="text-green">@Math.Abs(moneyTransfer.Amount) EUR</td>
                    <td class="auto-format-date">@moneyTransfer.MadeOn.ToString("O")</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>