@model BankAccountDetailsViewModel
@{
    var account = Model.BankAccountUniqueId;
    ViewData["Title"] = $"Money transfers {account}";

    // Pass ViewData with the surroundingPagesCount constant
    // and the desired number to the partial view if you want to have custom number of surrounding pages
    // or if you want to use the default one don't pass anything. The default number of surrounding pages is 3.

    // Example
    //ViewData[WebConstants.SurroundingPagesCountKey] = 10;
    // Also don't forget to pass it to the partial helper
    // Example
    // <partial name="_Pagination" model="@Model.MoneyTransfers" view-data="@ViewData" />
    // P.S Keep in mind the partial helper should be down below after the whole html code or wherever you want to display the pagination
}

<div class="container">
    <h3 class="text-center mb-4">All money transfers for @account bank account</h3>
    @if (!Model.MoneyTransfers.Any())
    {
        <h5 class="text-center text-muted">No money transfers have been made yet</h5>
    }
    else
    {
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Details</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var moneyTransfer in Model.MoneyTransfers)
                {
                    <tr>
                        <td>@moneyTransfer.Description</td>
                        <td>
                            <p>@moneyTransfer.SenderName</p>
                            <p>@moneyTransfer.Source</p>
                        </td>
                        <td>
                            <p>@moneyTransfer.RecipientName</p>
                            <p>@moneyTransfer.Destination</p>
                        </td>
                        <td class="text-green">@Math.Abs(moneyTransfer.Amount) EUR</td>
                        <td class="auto-format-date">@moneyTransfer.MadeOn.ToString("O")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@if (Model.MoneyTransfers.Any())
{
    <partial name="_Pagination" model="@Model.MoneyTransfers" />
}