@model BankAccountDetailsViewModel
@{
    ViewData["Title"] = Model.UniqueId;
}

<div class="card mb-3">
    <div class="card-body">
        <h2 class="card-title text-center">
            @Model.Name
        </h2>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-5">
                <h5 class="text-center">Account details</h5>
                <div class="d-flex flex-row justify-content-between">
                    <p>Name</p>
                    <p class="ml-3">@Model.UserFullName</p>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <p>Current balance</p>
                    <p class="text-green ml-3">€@Model.Balance</p>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <p>Account number</p>
                    <p class="ml-3">@Model.UniqueId</p>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <p>Date of creation</p>
                    <p class="ml-3 auto-format-date">@Model.CreatedOn.ToString("O")</p>
                </div>
            </div>
            <div class="col-12 col-md-6 offset-lg-2 col-lg-5">
                <h5 class="text-center">Transfer information</h5>
                <div class="d-flex flex-row justify-content-between">
                    <p>Name</p>
                    <p class="ml-3">@Model.UserFullName</p>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <p>Account</p>
                    <p class="ml-3">@Model.UniqueId</p>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <p>Bank name</p>
                    <p class="ml-3">@Model.BankName</p>
                </div>
                <div class="d-flex flex-row justify-content-between">
                    <p>Bank code</p>
                    <p class="ml-3">@Model.BankCode</p>
                </div>
            </div>
        </div>

    </div>
</div>

@if (!Model.MoneyTransfers.Any())
{
    <h5 class="text-center text-muted">No money transfers have been made yet</h5>
}
else
{
    <h3 class="text-center">Last transfers</h3>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Details</th>
            <th>From</th>
            <th>To</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var moneyTransfer in Model.MoneyTransfers)
        {
            <tr>
                <td>@moneyTransfer.Description</td>
                <td>
                    <p>@moneyTransfer.SenderName</p>
                    <p>@moneyTransfer.Source</p>
                </td>
                <td>
                    <p>@moneyTransfer.RecipientName</p>
                    <p>@moneyTransfer.Destination</p>
                </td>
                <td class="text-green">@Math.Abs(moneyTransfer.Amount) EUR</td>
                <td class="auto-format-date">@moneyTransfer.MadeOn.ToString("O")</td>
            </tr>
        }
        </tbody>
    </table>

    <partial name="_PaginationPartial" model="@Model.MoneyTransfers"/>
}