@model CardListingViewModel

@{
    ViewData["Title"] = "All cards";
}

<div class="container">
    @if (Model.Cards.Any())
    {
        <a asp-action="Create" asp-controller="Cards" class="btn btn-outline-primary float-right">Create card</a>
        <h3>All cards</h3>
        <div class="row">
            @foreach (var card in Model.Cards)
            {
                <div class="col-12 col-lg-4 col-md-6 p-1">
                    <div class="card floating-card m-2 shadow">
                        <div class="card-body">
                            <h5 class="card-title">Card number: @card.Number</h5>
                            <p class="card-text">Expiration: @card.ExpiryDate</p>
                            <p class="card-text">Account: @card.AccountName</p>
                            <p class="card-text">Cardholder name: @card.Name</p>
                            <p class="card-text">Security code: @card.SecurityCode</p>

                            <button class="btn btn-outline-danger" data-toggle="modal"
                                    data-target="#deleteModal" data-id="@card.Id">
                                <i class="fas fa-trash"></i> Delete
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-center">
            <h3>You don't have any cards.</h3>
            <a asp-action="Create" asp-controller="Cards" class="btn btn-primary mt-2">Create card</a>
        </div>
    }
</div>

<div class="fade modal" id="deleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to delete this card?</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
                <form asp-action="Delete" asp-controller="Cards" method="post">
                    <input name="id" type="hidden">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@if (Model.Cards.Any())
{
    <partial name="_PaginationPartial" model="@Model.Cards" />
}

@section Scripts{
    <script>
        $('#deleteModal').on('show.bs.modal',
            function(event) {
                const button = $(event.relatedTarget);
                const key = button.data('id');
                const modal = $(this);
                modal.find('.modal-footer input[name=id]').val(key);
            })
    </script>
}