@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <h3>All Transactions</h3>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Details</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var moneyTransfer in Model.MoneyTransfers)
                    {
                    <tr>
                        <td class="auto-format-date">@moneyTransfer.MadeOn.ToString("O")</td>
                        <td>@moneyTransfer.Description</td>
                        <td>@moneyTransfer.Source</td>
                        <td>@moneyTransfer.Destination</td>
                        @if (moneyTransfer.Amount < 0)
                        {
                            <td class="text-red">@moneyTransfer.Amount EUR</td>
                        }
                        else
                        {
                            <td class="text-green">+@moneyTransfer.Amount EUR</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Your Accounts</h5>
                    @foreach (var account in Model.UserBankAccounts)
                    {
                        <div class="row">
                            @* TODO: Redirect to my accounts details when we implement it *@
                            <p class="col-6 card-text"><a href="">@account.UniqueId</a></p>
                            <p class="col-6 card-text text-green text-right">@account.Balance EUR</p>
                        </div>
                    }
                    
                    <a class="btn btn-primary float-right" asp-controller="BankAccounts" asp-action="Create">Create new account</a>
                </div>
            </div>
        </div>
    </div>
</div>