@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <h3>Last 10 transactions</h3>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Details</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var moneyTransfer in Model.MoneyTransfers)
                    {
                        <tr>
                            <td class="auto-format-date">@moneyTransfer.MadeOn.ToString("O")</td>
                            <td>@moneyTransfer.Description</td>
                            <td>@moneyTransfer.Source</td>
                            <td>@moneyTransfer.Destination</td>
                            @if (moneyTransfer.Amount < 0)
                            {
                                <td class="text-red">@moneyTransfer.Amount EUR</td>
                            }
                            else
                            {
                                <td class="text-green">+@moneyTransfer.Amount EUR</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-area="MoneyTransfers" asp-controller="Home" asp-action="All" class="btn btn-outline-primary">View all transactions</a>
        </div>
        <div class="col-12 col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Your Accounts</h5>
                    @foreach (var account in Model.UserBankAccounts)
                    {
                        <div class="row">
                            <p class="col-6 card-text">
                                <a asp-controller="BankAccounts" asp-action="Details" asp-route-id="@account.Id">@account.Name</a>
                                <i class="far fa-edit clickable floating-card" data-toggle="modal"
                                   data-target="#editModal" data-id="@account.Id" ></i>
                            </p>
                            <p class="col-6 card-text text-green text-right">€@account.Balance</p>
                        </div>
                    }

                    <a class="btn btn-primary float-right" asp-controller="BankAccounts" asp-action="Create">Create new account</a>
                </div>
            </div>
        </div>
    </div>

    <div id="editModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-action="Edit" asp-controller="BankAccounts" method="post">
                        <input type="hidden" name="id">
                        <div class="form-group">
                            <label>Name</label>
                            <input required class="form-control" type="text" name="name">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Edit</button>
                            <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#editModal').on('show.bs.modal',
            function (event) {
                const button = $(event.relatedTarget);
                const id = button.data('id');
                const modal = $(this);
                modal.find('.modal-body input[name=id]').val(id);
            })
    </script>
}