@model ForeignMoneyTransferCreateBindingModel
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h3 class="mb-3">Payment order for other bank in foreign country</h3>

    <h5 class="mt-3">Payer</h5>
    <form method="post">
        <div class="container background-grey pt-1">
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="AccountId"></label>
                </div>
                <div class="col-sm-10">
                    <select class="form-control" title="Select one account..." asp-for="AccountId" asp-items="Model.UserAccounts"></select>
                    <span asp-validation-for="AccountId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="SenderName"></label>
                </div>
                <div class="col-sm-6">
                    <input class="form-control" readonly asp-for="SenderName" value="@Model.SenderName"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="Amount"></label>
                </div>
                <div class="col-sm-4">
                    <div class="input-group mb-2">
                        <input class="form-control mr-1" asp-for="Amount" />
                        <div class="input-group-prepend">
                            <div class="input-group-text">EUR</div>
                        </div>
                    </div>
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>
        </div>
        <h5 class="mt-3">Beneficiary's bank</h5>
        <div class="container background-grey pb-1 pt-1">
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="@Model.DestinationBank.SwiftCode"></label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="@Model.DestinationBank.SwiftCode" class="form-control" />
                    <span asp-validation-for="@Model.DestinationBank.SwiftCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="@Model.DestinationBank.Name"></label>
                </div>
                <div class="col-sm-6">
                    <input asp-for="@Model.DestinationBank.Name" class="form-control" />
                    <span asp-validation-for="@Model.DestinationBank.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="@Model.DestinationBank.Country"></label>
                </div>
                <div class="col-sm-8">
                    <select asp-for="@Model.DestinationBank.Country" class="form-control">
                        <option id='Afghanistan'> Afghanistan</option>
                        <option id='Aland Islands'>Aland Islands</option>
                        <option id='Albania'>Albania</option>
                        <option id='Algeria'>Algeria</option>
                        <option id='American Samoa'>American Samoa</option>
                        <option id='Andorra'>Andorra</option>
                        <option id='Angola'>Angola</option>
                        <option id='Anguilla'>Anguilla</option>
                        <option id='Antarctica'>Antarctica</option>
                        <option id='Antigua and Barbuda'>Antigua and Barbuda</option>
                        <option id='Argentina'>Argentina</option>
                        <option id='Armenia'>Armenia</option>
                        <option id='Aruba'>Aruba</option>
                        <option id='Australia'>Australia</option>
                        <option id='Austria'>Austria</option>
                        <option id='Azerbaijan'>Azerbaijan</option>
                        <option id='Bahamas'>Bahamas</option>
                        <option id='Bahrain'>Bahrain</option>
                        <option id='Bangladesh'>Bangladesh</option>
                        <option id='Barbados'>Barbados</option>
                        <option id='Belarus'>Belarus</option>
                        <option id='Belgium'>Belgium</option>
                        <option id='Belize'>Belize</option>
                        <option id='Benin'>Benin</option>
                        <option id='Bermuda'>Bermuda</option>
                        <option id='Bhutan'>Bhutan</option>
                        <option id='Bolivia'>Bolivia</option>
                        <option id='Bonaire, Saint Eustat...'>Bonaire, Saint Eustat...</option>
                        <option id='Bosnia and Herzegovina'>Bosnia and Herzegovina</option>
                        <option id='Botswana'>Botswana</option>
                        <option id='Bouvet Island'>Bouvet Island</option>
                        <option id='Brazil'>Brazil</option>
                        <option id='British Indian Ocean ...'>British Indian Ocean ...</option>
                        <option id='British Virgin Islands'>British Virgin Islands</option>
                        <option id='Brunei'>Brunei</option>
                        <option id='Bulgaria'>Bulgaria</option>
                        <option id='Burkina Faso'>Burkina Faso</option>
                        <option id='Burundi'>Burundi</option>
                        <option id='Cambodia'>Cambodia</option>
                        <option id='Cameroon'>Cameroon</option>
                        <option id='Canada'>Canada</option>
                        <option id='Cape Verde'>Cape Verde</option>
                        <option id='Cayman Islands'>Cayman Islands</option>
                        <option id='Central African Republic'>Central African Republic</option>
                        <option id='Chad'>Chad</option>
                        <option id='Chile'>Chile</option>
                        <option id='China'>China</option>
                        <option id='Christmas Island'>Christmas Island</option>
                        <option id='Cocos Islands'>Cocos Islands</option>
                        <option id='Colombia'>Colombia</option>
                        <option id='Comoros'>Comoros</option>
                        <option id='Cook Islands'>Cook Islands</option>
                        <option id='Costa Rica'>Costa Rica</option>
                        <option id='Croatia'>Croatia</option>
                        <option id='Cuba'>Cuba</option>
                        <option id='Curacao'>Curacao</option>
                        <option id='Cyprus'>Cyprus</option>
                        <option id='Czech Republic'>Czech Republic</option>
                        <option id='Democratic Republic o...'>Democratic Republic o...</option>
                        <option id='Denmark'>Denmark</option>
                        <option id='Djibouti'>Djibouti</option>
                        <option id='Dominica'>Dominica</option>
                        <option id='Dominican Republic'>Dominican Republic</option>
                        <option id='East Timor'>East Timor</option>
                        <option id='Ecuador'>Ecuador</option>
                        <option id='Egypt'>Egypt</option>
                        <option id='El Salvador'>El Salvador</option>
                        <option id='Equatorial Guinea'>Equatorial Guinea</option>
                        <option id='Eritrea'>Eritrea</option>
                        <option id='Estonia'>Estonia</option>
                        <option id='Ethiopia'>Ethiopia</option>
                        <option id='Falkland Islands'>Falkland Islands</option>
                        <option id='Faroe Islands'>Faroe Islands</option>
                        <option id='Fiji'>Fiji</option>
                        <option id='Finland'>Finland</option>
                        <option id='France'>France</option>
                        <option id='French Guiana'>French Guiana</option>
                        <option id='French Polynesia'>French Polynesia</option>
                        <option id='French Southern Terri...'>French Southern Terri...</option>
                        <option id='Gabon'>Gabon</option>
                        <option id='Gambia'>Gambia</option>
                        <option id='Georgia'>Georgia</option>
                        <option id='Germany'>Germany</option>
                        <option id='Ghana'>Ghana</option>
                        <option id='Gibraltar'>Gibraltar</option>
                        <option id='Greece'>Greece</option>
                        <option id='Greenland'>Greenland</option>
                        <option id='Grenada'>Grenada</option>
                        <option id='Guadeloupe'>Guadeloupe</option>
                        <option id='Guam'>Guam</option>
                        <option id='Guatemala'>Guatemala</option>
                        <option id='Guernsey'>Guernsey</option>
                        <option id='Guinea'>Guinea</option>
                        <option id='Guinea-Bissau'>Guinea-Bissau</option>
                        <option id='Guyana'>Guyana</option>
                        <option id='Haiti'>Haiti</option>
                        <option id='Heard Island and McDo...'>Heard Island and McDo...</option>
                        <option id='Honduras'>Honduras</option>
                        <option id='Hong Kong'>Hong Kong</option>
                        <option id='Hungary'>Hungary</option>
                        <option id='Iceland'>Iceland</option>
                        <option id='India'>India</option>
                        <option id='Indonesia'>Indonesia</option>
                        <option id='Iran'>Iran</option>
                        <option id='Iraq'>Iraq</option>
                        <option id='Ireland'>Ireland</option>
                        <option id='Isle of Man'>Isle of Man</option>
                        <option id='Israel'>Israel</option>
                        <option id='Italy'>Italy</option>
                        <option id='Ivory Coast'>Ivory Coast</option>
                        <option id='Jamaica'>Jamaica</option>
                        <option id='Japan'>Japan</option>
                        <option id='Jersey'>Jersey</option>
                        <option id='Jordan'>Jordan</option>
                        <option id='Kazakhstan'>Kazakhstan</option>
                        <option id='Kenya'>Kenya</option>
                        <option id='Kiribati'>Kiribati</option>
                        <option id='Kosovo'>Kosovo</option>
                        <option id='Kuwait'>Kuwait</option>
                        <option id='Kyrgyzstan'>Kyrgyzstan</option>
                        <option id='Laos'>Laos</option>
                        <option id='Latvia'>Latvia</option>
                        <option id='Lebanon'>Lebanon</option>
                        <option id='Lesotho'>Lesotho</option>
                        <option id='Liberia'>Liberia</option>
                        <option id='Libya'>Libya</option>
                        <option id='Liechtenstein'>Liechtenstein</option>
                        <option id='Lithuania'>Lithuania</option>
                        <option id='Luxembourg'>Luxembourg</option>
                        <option id='Macao'>Macao</option>
                        <option id='Macedonia'>Macedonia</option>
                        <option id='Madagascar'>Madagascar</option>
                        <option id='Malawi'>Malawi</option>
                        <option id='Malaysia'>Malaysia</option>
                        <option id='Maldives'>Maldives</option>
                        <option id='Mali'>Mali</option>
                        <option id='Malta'>Malta</option>
                        <option id='Marshall Islands'>Marshall Islands</option>
                        <option id='Martinique'>Martinique</option>
                        <option id='Mauritania'>Mauritania</option>
                        <option id='Mauritius'>Mauritius</option>
                        <option id='Mayotte'>Mayotte</option>
                        <option id='Mexico'>Mexico</option>
                        <option id='Micronesia'>Micronesia</option>
                        <option id='Moldova'>Moldova</option>
                        <option id='Monaco'>Monaco</option>
                        <option id='Mongolia'>Mongolia</option>
                        <option id='Montenegro'>Montenegro</option>
                        <option id='Montserrat'>Montserrat</option>
                        <option id='Morocco'>Morocco</option>
                        <option id='Mozambique'>Mozambique</option>
                        <option id='Myanmar'>Myanmar</option>
                        <option id='Namibia'>Namibia</option>
                        <option id='Nauru'>Nauru</option>
                        <option id='Nepal'>Nepal</option>
                        <option id='Netherlands'>Netherlands</option>
                        <option id='New Caledonia'>New Caledonia</option>
                        <option id='New Zealand'>New Zealand</option>
                        <option id='Nicaragua'>Nicaragua</option>
                        <option id='Niger'>Niger</option>
                        <option id='Nigeria'>Nigeria</option>
                        <option id='Niue'>Niue</option>
                        <option id='Norfolk Island'>Norfolk Island</option>
                        <option id='Northern Mariana Islands'>Northern Mariana Islands</option>
                        <option id='North Korea'>North Korea</option>
                        <option id='Norway'>Norway</option>
                        <option id='Oman'>Oman</option>
                        <option id='Pakistan'>Pakistan</option>
                        <option id='Palau'>Palau</option>
                        <option id='Palestinian Territory'>Palestinian Territory</option>
                        <option id='Panama'>Panama</option>
                        <option id='Papua New Guinea'>Papua New Guinea</option>
                        <option id='Paraguay'>Paraguay</option>
                        <option id='Peru'>Peru</option>
                        <option id='Philippines'>Philippines</option>
                        <option id='Pitcairn'>Pitcairn</option>
                        <option id='Poland'>Poland</option>
                        <option id='Portugal'>Portugal</option>
                        <option id='Puerto Rico'>Puerto Rico</option>
                        <option id='Qatar'>Qatar</option>
                        <option id='Republic of the Congo'>Republic of the Congo</option>
                        <option id='Reunion'>Reunion</option>
                        <option id='Romania'>Romania</option>
                        <option id='Russia'>Russia</option>
                        <option id='Rwanda'>Rwanda</option>
                        <option id='Saint Barthelemy'>Saint Barthelemy</option>
                        <option id='Saint Helena'>Saint Helena</option>
                        <option id='Saint Kitts and Nevis'>Saint Kitts and Nevis</option>
                        <option id='Saint Lucia'>Saint Lucia</option>
                        <option id='Saint Martin'>Saint Martin</option>
                        <option id='Saint Pierre and Miqu...'>Saint Pierre and Miqu...</option>
                        <option id='Saint Vincent and the...'>Saint Vincent and the...</option>
                        <option id='Samoa'>Samoa</option>
                        <option id='San Marino'>San Marino</option>
                        <option id='Sao Tome and Principe'>Sao Tome and Principe</option>
                        <option id='Saudi Arabia'>Saudi Arabia</option>
                        <option id='Senegal'>Senegal</option>
                        <option id='Serbia'>Serbia</option>
                        <option id='Seychelles'>Seychelles</option>
                        <option id='Sierra Leone'>Sierra Leone</option>
                        <option id='Singapore'>Singapore</option>
                        <option id='Sint Maarten'>Sint Maarten</option>
                        <option id='Slovakia'>Slovakia</option>
                        <option id='Slovenia'>Slovenia</option>
                        <option id='Solomon Islands'>Solomon Islands</option>
                        <option id='Somalia'>Somalia</option>
                        <option id='South Africa'>South Africa</option>
                        <option id='South Georgia and the...'>South Georgia and the...</option>
                        <option id='South Korea'>South Korea</option>
                        <option id='South Sudan'>South Sudan</option>
                        <option id='Spain'>Spain</option>
                        <option id='Sri Lanka'>Sri Lanka</option>
                        <option id='Sudan'>Sudan</option>
                        <option id='Suriname'>Suriname</option>
                        <option id='Svalbard and Jan Mayen'>Svalbard and Jan Mayen</option>
                        <option id='Swaziland'>Swaziland</option>
                        <option id='Sweden'>Sweden</option>
                        <option id='Switzerland'>Switzerland</option>
                        <option id='Syria'>Syria</option>
                        <option id='Taiwan'>Taiwan</option>
                        <option id='Tajikistan'>Tajikistan</option>
                        <option id='Tanzania'>Tanzania</option>
                        <option id='Thailand'>Thailand</option>
                        <option id='Togo'>Togo</option>
                        <option id='Tokelau'>Tokelau</option>
                        <option id='Tonga'>Tonga</option>
                        <option id='Trinidad and Tobago'>Trinidad and Tobago</option>
                        <option id='Tunisia'>Tunisia</option>
                        <option id='Turkey'>Turkey</option>
                        <option id='Turkmenistan'>Turkmenistan</option>
                        <option id='Turks and Caicos Islands'>Turks and Caicos Islands</option>
                        <option id='Tuvalu'>Tuvalu</option>
                        <option id='Uganda'>Uganda</option>
                        <option id='Ukraine'>Ukraine</option>
                        <option id='United Arab Emirates'>United Arab Emirates</option>
                        <option id='United Kingdom'>United Kingdom</option>
                        <option id='United States'>United States</option>
                        <option id='United States Minor O...'>United States Minor O...</option>
                        <option id='Uruguay'>Uruguay</option>
                        <option id='U.S. Virgin Islands'>U.S. Virgin Islands</option>
                        <option id='Uzbekistan'>Uzbekistan</option>
                        <option id='Vanuatu'>Vanuatu</option>
                        <option id='Vatican'>Vatican</option>
                        <option id='Venezuela'>Venezuela</option>
                        <option id='Vietnam'>Vietnam</option>
                        <option id='Wallis and Futuna'>Wallis and Futuna</option>
                        <option id='Western Sahara'>Western Sahara</option>
                        <option id='Yemen'>Yemen</option>
                        <option id='Zambia'>Zambia</option>
                        <option id='Zimbabwe'>Zimbabwe</option>
                    </select>
                </div>
            </div>
        </div>
        <h5 class="mt-3">Beneficiary</h5>
        <div class="container background-grey pb-1 pt-1">
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="@Model.DestinationBank.Account.UserFullName"></label>
                </div>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="@Model.DestinationBank.Account.UserFullName" />
                    <span asp-validation-for="@Model.DestinationBank.Account.UserFullName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="@Model.DestinationBank.Account.UniqueId"></label>
                </div>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="@Model.DestinationBank.Account.UniqueId" />
                    <span asp-validation-for="@Model.DestinationBank.Account.UniqueId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-sm-2">
                <label asp-for="Description"></label>
                <span class="text-muted font-italic">(optional)</span>
            </div>
            <div class="col-sm-8">
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group text-right">
            <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
            <button type="submit" class="btn btn-primary">Pay</button>
        </div>
    </form>
</div>